<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MARKET_BARKOD_SISTEMI.Properties.Settings.MARKET_BARKOD_SISTEMIConnectionString"
            connectionString="Data Source=GENC4Y10;Initial Catalog=MARKET_BARKOD_SISTEMI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>